server {
    listen 80;
    server_name {{ nginx_server_name }};
    root {{ nginx_root }};
    index index.html;
    autoindex on;

    location / {
        auth_basic "Administrator's Area";
        auth_basic_user_file {{ htpasswd_path }};
        try_files $uri $uri/ =404;
    }
}
