# If Doesn't Have SSL (Unsecure):
deb [trusted=yes] https://repo.nima.local/repository/ubuntu_resolute/ resolute main restricted universe multiverse
deb [trusted=yes] https://repo.nima.local/repository/ubuntu_resolute/ resolute-updates main restricted universe multiverse
deb [trusted=yes] https://repo.nima.local/repository/ubuntu_resolute/ resolute-backports main restricted universe multiverse
deb [trusted=yes] https://repo.nima.local/repository/ubuntu_resolute-security/ resolute-security main restricted universe multiverse
