deb [arch=amd64 allow-insecure=yes trusted=yes] https://repo.nima.local/repository/debian-docker trixie stable
# deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg allow-insecure=yes trusted=yes] https://repo.nima.local/repository/debian-docker trixie stable
